$white: #ffffff;

$black: #111111;
$dark-gray: #888888;
$pale-gray: #e4e4e4;

$pale-gold: #fff6dd;
$dark-gold: #b8b69f;
$pale-dark-gold: #efdfba;
$gorgeous-yellow: #be9345;
$gorgeous-near-yellow: #d6ae65;
$gorgeous-pale-yellow: #e2bd69;

$main-brown: #4d4136;
$light-brown: #cd853f;

$pale-blue: #d2e9f9;

$red: #9c001e;
