// html
$base-font: $black;
$base-bg: $dark-gold;
//common
// arrow
$arraw-gray: $dark-gray;
//
$box-blue-bg: $pale-blue;
$box-blue-txt: $black;
$box-red-bg: $red;
$box-red-txt: $white;
$box-white-bg: $white;
$box-white-txt: $black;
// リボン
$ribbon_bg: $gorgeous-yellow;
$ribbon_color: $white;
// header
$top-title-ttl-font: $black;
$top-content-ttl-span-bg: $gorgeous-yellow;
// top
$top-content-ttl-span-font: $white;
$top-content-slogan: $gorgeous-yellow;
$top-content-slogan-shadow: $pale-gray;
$top-image-txt: $gorgeous-pale-yellow;
$top-image-shadow: $dark-gray;
// intro
$intro-bg: $pale-dark-gold;
$intro-outer-line: $gorgeous-yellow;
$intro-outer-coner-bg: $base-bg;
$intro-outer-coner-bd: $gorgeous-yellow;
$intro-inner-line: $gorgeous-yellow;
$intro-special-box-bg: $gorgeous-yellow;
$intro-special-box-bd: $gorgeous-near-yellow;
$intro-special-box-txt: $white;
$intro-special-price-batch-bg: $gorgeous-yellow;
$intro-special-price-batch-bd: $gorgeous-near-yellow;
$intro-special-price-batch-txt: $white;
$intro-next-arrow: $red;
// subsc
$subsc-btn-bg: $red;
$subsc-btn-txt: $white;
